html, body {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body
{

  font-family: "Roboto",sans-serif;;
  font-size: 14px;
  color: #7c80b1;

}
.indexbody
{
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.parent
{
  height:inherit;
  width:100%;
  background: rgba(0, 0, 0, 0.6);
}
.main
{
  width:500px;
  margin:auto;
  top:50%;
  position:relative;
  transform: translateY(-50%);
}
.logo
{
  font-size: 48px;
  color:white;
  font-weight:lighter;
  color: #fff;
}
.tagline
{
  font-size: 20px;
   color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
}
.signin
{
  background: #4d5aff;
  color: #fff;
  border:0;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  font-weight: bold;
}
.signin:hover
{
background: #3945e2;
}
/*
  Chat Page
*/

.members{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  width:30%;
  background-color: grey;
}
