html, body {
    height: 100%;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        left: -5%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

.hidden {
    display: none;
}

.animate {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.5s;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body
{

  font-family: "Roboto",sans-serif;;
  font-size: 14px;
  color: #7c80b1;

}
.indexbody
{
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.parent
{
  height:inherit;
  width:100%;
  background: rgba(0, 0, 0, 0.6);
}
.main
{
  width:500px;
  margin:auto;
  top:50%;
  position:relative;
  transform: translateY(-50%);
}
.logo
{
  font-size: 48px;
  color:white;
  font-weight:lighter;
  color: #fff;
  letter-spacing: 2px;
}
.tagline
{
  font-size: 20px;
   color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
}
.signin
{
  background: #4d5aff;
  color: #fff;
  border:0;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  font-weight: bold;
}
.signin:hover
{
background: #3945e2;
}
/*
  Chat Page
*/

.member-area{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  width:30%;
  background-color: grey;
  color:white;
  letter-spacing: 1px;
}

.user-info
{
  background:#2f4f4f;
  padding:15px;
  font-weight:bold;
}
.logout
{
  float:right;
}
.member
{
  padding:10px;
  border-bottom: solid 1px darkgrey;
}
.member:hover
{
  background-color: darkgrey;
  font-weight: bold;
  cursor:pointer;
}
.message-area
{
  background-color:azure;
  left:30%;
  width:70%;
  position:fixed;
  bottom:0;
  top:0;
}
.chat-info
{
  background-color:#2f4f4f;
  padding:15px;
color:white;
font-weight: bold;
letter-spacing: 1px;
}
.member.active
{
  background-color: darkgrey;
  font-weight: bold;
  cursor:pointer;
}
.messages
{
  background: azure;
  height: 100%;
  padding:10px;
  height:90%;
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

}
.message
{
  background:grey;
  padding:10px;
  margin-bottom:10px;
  border-radius: 8px;
  color:white;
  clear:both;
  max-width:60%;
  float:left;
}
.message.sentmsg
{
    background:darkgrey;
    color:white;
    margin-bottom: 10px;
    float:right;
}
.chat-form
{
  position:fixed;
  left:30%;
  bottom:0;
  width:70%;

  padding:10px;
}
.chat-message
{
  padding:10px;
  border:solid 1px lightgrey;
  border-radius:4px;
  display:block;
  width:100%;
}
.messagecontainer
{
  margin-top=100px;
}
